.pList {
  width: 100%;
  max-width: 100rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.pListItem img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.pListTitle {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  background-color: rgba(3, 3, 3, 0.6);
  padding: 0.5rem;
  color: white;
}

.pListTitle > h1 {
  font-size: 1.5rem;
}
.pListTitle > h2 {
  font-size: 1.2rem;
  font-weight: lighter;
}

@media only screen and (max-width: 1600px) {
  .pList {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .pList {
    flex-wrap: wrap;
  }
  .pListItem {
    margin: 0 1rem;
    flex: 1 1 15rem;
  }
  
}
@media only screen and (max-width: 600px) {
  .featured {
    flex-wrap: wrap;
  }
  .featuredItem {
    margin: 0 1rem;
  }
  
}