.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserveContainer {
  background-color: white;
  padding: 1.8rem;
  position: relative;
}

.reserveClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.room {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.roomItem {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  padding: 2rem;
}

.roomInformation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.roomTitle {
  font-weight: bold;
}
.roomDesc {
  font-weight: 300;
}

.roomMax {
  font-size: 1rem;
}

.roomPrice {
  font-weight: 500;
}

.reserveButton {
  border: none;
  padding: 0.8rem 1.8rem;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input[type=checkbox] {
  width: 7rem;
}