.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserveContainer {
  background-color: white;
  padding: 1.8rem;
  position: relative;
  width: 100%;
  max-width: 100rem;
}

.reserveClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.roomNumbers {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.room {
  display: flex;
  align-items: center;
  width: 10%;
  flex-direction: column;
}
.roomItem {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  flex-direction: column;
}

.roomInformation {
  display: flex;
  gap: 2rem;
}

.roomTitle {
  font-weight: bold;
}
.roomDesc {
  font-weight: 300;
}

.roomMax {
  font-size: 1rem;
}

.roomPrice {
  font-weight: 500;
}

.reserveButton {
  border: none;
  padding: 0.8rem 1.8rem;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input[type=checkbox] {
  width: 7rem;
}

@media only screen and (max-width: 720px) {
  .reserveContainer {
    padding: 0 .5rem;
  }
  .room {
     width: 20%;
     margin-bottom: 1rem;
  }
  .roomItem {
    margin-top: 1rem;
    padding: 2rem 0;
  }
  .roomMax {
    font-size: .7rem;
  }
  .reserveContainer {
    min-height: 100%;
  }
  .reserveClose {
    font-size: 1rem;
    color: red;
  }
  .reserveButton {
    padding: .4rem 0rem;
    font-size: 1rem;
  }
}