.navbar {
  height: 5rem;
  background-color: #0e2f5d;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 100rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  /* display: flex;
  justify-content: space-evenly;
  align-items: flex-start; */
}
.logo > img {
  width: 15%;
  margin-right: 0px;
  filter: invert(28%) sepia(100%) hue-rotate(-180deg) saturate(3);
}
.navButton {
  margin-left: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #003580;
  font-size: 1rem;
  font-weight: 500;
}
