.searchItem {
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
  margin-bottom: 1.8rem;
}

.siDesc {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.siImg {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}

.siTitle {
  color: #0071c2;
  font-size: 1.8rem;
}
.sidistance {
  font-size: 1rem;
}

.siTaxiOp {
  font-size: 1rem;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
}

.siSubtitle {
  font-size: 1rem;
  font-weight: bold;
}
.siFeatures {
  font-size: 1rem;
}
.siCancelOp {
  font-size: 1rem;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle {
  font-size: 1rem;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.siRating {
  display: flex;
  justify-content: space-between;
}
.siRating > span {
  font-weight: 500;
}
.siRating > button {
  font-weight: bold;
  color: white;
  background-color: #0071c2;
  padding: 5px;
  border: none;
}
.siDetailTexts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}
.siPrice {
  font-size: 2.1rem;
}
.siTaxOp {
  font-size: 1rem;
  color: gray;
}
.siCheckButton {
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  padding: 0.8rem 0.3rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
@media only screen and (max-width: 1200px) {
  .searchItem {
    width: 95%;
    flex-direction: column;
  }
  .siImg {
    width: 100%;
  }
  .siRating {
    align-items: center;
    align-self: end;
    margin-bottom: 1rem;
  }
  .siRating span {
    margin-right: 1rem;
  }
  .siCheckButton {
    width: 100%;
    padding: .7rem;
    margin-top: 1rem;
  }
}
