* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgba(228, 228, 228, 0.779);
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background-color: rgba(228, 228, 228, 0.797);
}

.homeTitle {
  width: 100rem;
  font-size: 1.7rem;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(47, 45, 45, 0.851);
}
.error h1 {
  text-align: center;
  padding: 4rem;
  background-color: white;
}
.error span {
  color: red;
  display: block;
}
@media only screen and (max-width: 1200px) {
  body {
    font-size: 80%;
  }
}
@media only screen and (max-width: 900px) {
  body {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 700px) {
  body {
    font-size: 50%;
  }
}
