.footer {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fLists {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 1rem;
  color: #003580;
  cursor: pointer;
}

.fText {
  margin-bottom: 2rem;
  color: #003580;
  font-weight: bold;
}