.footer {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fText {
  margin-bottom: .3rem;
  color: #003580;
  font-weight: bold;
}