
.featured {
  width: 100%;
  max-width: 100rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 25rem;
}

.featuredTitle {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  background-color: rgba(3, 3, 3, 0.332);
  padding: 0.5rem;
}
.featured img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1600px) {
  .featured {
    width: 95%;
  }
}

@media only screen and (max-width: 900px) {
  .featured {
    flex-wrap: wrap;
  }
  .featuredItem {
    margin: 0 1rem;
    flex: 1 1 20rem;
  }
  
}
@media only screen and (max-width: 600px) {
  .featured {
    flex-wrap: wrap;
  }
  .featuredItem {
    margin: 0 1rem;
  }
  
}