.header {
  color: #003580;
  display: flex;
  justify-content: center;
  background-color: rgba(228, 228, 228, 0.797);
}

.headerContainer {
  width: 100%;
  max-width: 100rem;
  margin: 2rem 0;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.headerTitle {
 font-weight: 500;
}
.headerSearch {
  height: 3rem;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
  border-radius: 5px;
  width: 100%;
  max-width: 100rem;
  z-index: 2;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.headerIcon {
  color: lightgray;
  cursor: pointer;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerSearchInput {
  border: none;
  outline: none;
  font-size: 1rem;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}
.headerSearch input::placeholder {
  color: lightgray;
  cursor: pointer;
}
.date {
  position: absolute;
  top: 4rem;
}

.options {
  position: absolute;
  top: 4rem;
  background-color: white;
  color: gray;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.9);
}

.optionItem {
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.optionCounterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border: 1px solid #0071c2;
  cursor: pointer;
  background-color: white;
  color: #0071c2;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
  background-color: rgba(128, 128, 128, 0.2);
}

@media only screen and (max-width: 1600px) {
  .headerSearch {
    width: 95%;
  }
}
@media only screen and (max-width: 1200px) {
  .headerSearch {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .headerTitle {
    text-align: center;
    padding: 0 1rem;
    font-size: 1rem;
  }
  .headerBtn {
    padding: .5rem;
  }
}

@media only screen and (max-width: 600px)  {
  
  .headerSearch {
    padding: 1rem;
    flex-direction: column;
    height: max-content;
    width: 95%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    font-size: 1rem;
    border: 2px solid #0071c2;
  }
  .headerSearchItem {
    width: 100%;
    margin:.8rem 0;
  }
  .headerBtn {
    padding: .5rem;
    width: 100%;
  }
}